@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Anton' ;
  src: url(../src/assets/fonts/Anton/Anton-Regular.ttf);
}
@font-face {
  font-family: 'Poppins' ;
  src: url(../src/assets/fonts/Poppins/Poppins-Regular.ttf);
}
